.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  input[type="number"],
  input[type="range"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    background-color: #f5f5f5;
  }
  
  input[type="number"]:focus,
  input[type="range"]:focus {
    outline: none;
  }
  body{
    background-image: linear-gradient(to bottom right,sandybrown,yellowgreen);
  }
  input[type="range"] {
    
    height: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4CAF50;
    cursor: pointer;
  }
  
  #tipPercent {
    margin-bottom: 20px;
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #tipAmount {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    background: linear-gradient(to bottom right, #4CAF50, #3e8e41);
    padding: 20px;
    border-radius: 5
  }  